body{
  background-color: MistyRose;
}
.gallery{
  margin: 10px 50px;
}
.gallery img{
  width: 230px;
  padding: 50px;
  filter: grayscale(100);
  transition: 1s;
}
.gallery img:hover{
  filter: grayscale(0);
}
h1{
  text-align: center;
}
