h1{
  text-align: center;
  }
p{
  display: none;
  text-align: center;
}
a{
  color: purple;
  text-align: center;
      }
    iframe{
      align-items: ;
    }
    .video{
      text-align: center;
    }
    .pulsante{
      text-align: center;
    }
    body{
      background-color: Thistle;
    }
.testo{
  font-family: cursive;
  font-size: 25px;
}
